<div class="navbar">

  <a href="/"><h2 class="logo">NAhowmuch</h2></a>

  @if(isLoggedIn){

  <div class="profile-menu">

    <button class="profile-btn" (click)="toggleMenu()">
      Profile ▼
    </button>

    @if(showMenu){
    <div class="dropdown">

      <div class="dropdown-item" (click)="goProfile()">
        Profile
      </div>

      <div class="dropdown-item" (click)="logout()">
        Logout
      </div>

    </div>
    }

  </div>

  } @else {

  <button (click)="goLogin()" class="login-btn">
    Login
  </button>

  }

</div>

<div class="register-box">

  <h2>Register</h2>

  <form (submit)="register()">

    <label>username</label>
    <input type="text" [(ngModel)]="username" name="username" (input)="checkUsername()" required>

    <label>Email</label>
    <input type="email" [(ngModel)]="email" name="email" required>

    <label>First Name (optional)</label>
    <input type="text" [(ngModel)]="firstName" name="firstName">

    <label>Last Name</label>
    <input type="text" [(ngModel)]="lastName" name="lastName" required>

    <label>Password</label>
    <input
        type="password"
        [(ngModel)]="password"
        name="password"
        (input)="checkPasswords()"
        required
    >

    <label>Confirm Password</label>
    <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        (input)="checkPasswords()"
        required
    >

    @if (passwordMismatch) {
    <p class="error">Passwords do not match</p>
    }

    @if (invalidUsername) {
    <p class="error">Username cannot contain @</p>
    }

    <button type="submit">Register</button>

  </form>

</div>